@model IEnumerable<ITAW000.Models.Item431>

@{
    ViewBag.Title = "Regras";
}


        <div class="row">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-header">
                        <i class="material-icons">swap_vert</i>
                        <h3>Classificação de Pendências </h3>
                        <p>Classificar registros ainda não classificados</p>
                        <a href="@Url.Action("", "Pendencia")" class="btn btn-success pull-right" data-toggle="modal">Classificar Selecionados</a>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="custom-checkbox">
                                                    <input type="checkbox" id="selectAll">
                                                    <label for="selectAll"></label>
                                                </span>
                                            </th>
                                            <th>Empresa</th>
                                            <th>Sistema</th>
                                            <th>Responsavel</th>
                                            <th>Cod Produto BB</th>
                                            <th>Nome Produto</th>
                                            <th>proposta_bb</th>
                                            <th>proposta_id</th>
                                            <th>N. Contrato</th>
                                            <th>N. Versão endosso</th>
                                            <th>Dias Permanencia</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.ListaAll as IList<ITAW000.Models.Item431>)
                                        {
                                            <tr>
                                                <td>
                                                    <span class="custom-checkbox">
                                                        <input type="checkbox" id="checkItem" name="options[]" value="1" class="custom-checkbox">
                                                        <label for="checkItem"></label>
                                                    </span>
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Empresa)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Sistema)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Responsavel)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IdProdutoBB)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NomeProduto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PropostaBB)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PropostaID)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.NumeroContrato)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.NumeroVersaoEndosso)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.DiasPermanencia)
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 


    <script type="text/javascript">
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });
    </script>