@model IEnumerable<ITAW000.Models.Item431>

@{
    ViewBag.Title = "Lista";
}


<div class="row">
    <div class="col-12 ">
        <div class="card">
            <div class="card-header">
                <i class="glyphicon glyphicon-arrow-down"></i>
                <h3>Classificados com sucesso </h3>
                <p>Lista de registros ja classificados com sucesso </p>
     
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                               
                                    </th>
                                    <th>Empresa</th>
                                    <th>Sistema</th>
                                    <th>Responsavel</th>
                                    <th>Cod Produto BB</th>
                                    <th>Nome Produto</th>
                                    <th>proposta_bb</th>
                                    <th>proposta_id</th>
                                    <th>N. Contrato</th>
                                    <th>N. Versão endosso</th>
                                    <th>Dias Permanencia</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ViewBag.ListaClassificados as IList<ITAW000.Models.Item431>)
                                {
                                <tr>
                                    <td style="text-align:center; width:15px;"> <i class="glyphicon glyphicon-check alert-success" style="font-size:20px;"></i> </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Empresa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sistema)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responsavel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdProdutoBB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeProduto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropostaBB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropostaID)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.NumeroContrato)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.NumeroVersaoEndosso)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.DiasPermanencia)
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
