@model ITAW000.Models.Regra

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Regra", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">CADASTRO DE REGRA</h3>
                    </div>

                    <div class="panel-body">

                        <form action="#" class="form-horizontal">
                            <fieldset>

                                <legend>Informações Principais</legend>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Sistema</label>
                                    <div class="col-md-5">
                                        @*@Html.DropDownListFor(x => Model.SelectedSistema, new SelectList(Model.ListSistema, "IdSistema", "NomeSistema", -1), htmlAttributes: new { @class = "form-control", id = "IdSistema" })*@
                                        @Html.DropDownList("IdSistema", new SelectList(ViewBag.ListSistema, "value", "Text", "-1"), htmlAttributes: new { @class = "form-control", id = "idSistema" })
                                        @Html.ValidationMessageFor(x => x.IdSistema, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Responsavel</label>
                                    <div class="col-md-5">
                                        @Html.DropDownList("idResponsavel", new SelectList(ViewBag.ListResponsavel, "value", "Text", "-1"), htmlAttributes: new { @class = "form-control", id = "IdResponsavel", name = "IdResponsavel" })
                                        @Html.ValidationMessageFor(x => x.IdResponsavel, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Situação</label>
                                    <div class="col-md-5">
                                        @Html.DropDownList("idSituacao", new SelectList(ViewBag.ListSituacao, "value", "Text", "-1"), htmlAttributes: new { @class = "form-control", id = "IdSituacao", name = "IdSituacao" })
                                        @Html.ValidationMessageFor(x => x.IdSituacao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Retorno</label>
                                    <div class="col-md-5">
                                        @Html.DropDownList("IdRetorno", new SelectList(ViewBag.ListRetorno, "value", "Text", "-1"), htmlAttributes: new { @class = "form-control", id = "IdRetorno" })
                                        @Html.ValidationMessageFor(x => x.IdRetorno, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Tipo</label>
                                    <div class="col-md-5">
                                        @Html.DropDownList("IdTipo", new SelectList(ViewBag.ListTipo, "value", "Text", "-1"), htmlAttributes: new { @class = "form-control", id = "IdTipo" })
                                        @Html.ValidationMessageFor(x => x.IdTipo, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="nome" class="col-sm-2 control-label">Descrição</label>
                                    <div class="col-sm-4">

                                        <textarea class="form-control" id="Descricao" name="Descricao" rows="4"></textarea>
                                    </div>
                                </div>

                            </fieldset>



                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Gravar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<hr>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
